#wel
{
	background-color:#B2BEB5;
	height:60px;
	width:60%;
	margin:0px auto;
}
#newreg
{background-color:#B2BEB5;
margin:0px auto;}
#end
{
	background-color:#B2BEB5;
	margin:0px auto;
}
	