#des
{
	background-color:#d3d3d3;
	margin:0px auto;
}
#main
{
	background-color:#DEB887;
	margin:0px auto;
}
#dess
{
	position:absolute;
	visibility:visible;
	right:440px;
top:190px;}


